[Unit]
Description=bal-pusher daemon
After=bitcoind.service

[Service]

EnvironmentFile=/etc/bal/bal-pusher.env

ExecStart=/usr/local/bin/bal-pusher bitcoin

StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=bal-pusher


Type=simple
PIDFile=/run/bal-pusher/bal-pusher.pid
Restart=always
TimeoutSec=120
RestartSec=300
KillMode=process

User=bal
Group=bitcoin
UMask=0027

RuntimeDirectory=bal-pusher
RuntimeDirectoryMode=0710

PrivateTmp=true

ProtectSystem=full

NoNewPrivileges=true

PrivateDevices=true

MemoryDenyWriteExecute=true

[Install]
WantedBy=multi-user.target

